*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 1.25rem;
}

.header-container{
    padding: 0 50px 0 50px;
    background-color: black;
}
.header{
    width: 100%;
    justify-content: space-around;
    display: flex;
    flex-flow: row wrap;
}
.nav {
    display: flex;

    align-self: center;
   

}
.nav ul{
    display: flex;
    list-style: none;
    justify-content: space-between;

    
}
 .nav ul a{
    text-decoration: none;
    padding: 1rem;
    text-wrap: nowrap;
    color: azure;
    
    

 }
 .nav ul a li{
    flex-grow: 1;
    justify-content: space-around;
 }
 nav img{
    flex-grow: 1;

 }
 .main-contain{
    width: 100%;
    padding: 0 50px 0 50px;
    justify-items: center;

 }

 .me{
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-between;
   
 }
 .content{
    align-content: center;
    text-align: left;
    
 }
 .content img{
    flex-grow: 1;
 }
 .content button{
    width: 50%;
    height: auto;
    padding: 1rem;
    border-radius: 50px;
    font-weight: bold;
    margin-left: 25%;
 }
 .content button:hover{
    width: 55%;
    height: auto;
    padding: 1rem;
    border-radius: 50px;
    font-weight: bold;
    background-color: black;
    color: white;
    
    
    
 }