@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

body{
    background-image: url('download.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}



header .nav {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #7c3030a8; /* Optional background color */
  }
  
  .logo img {
    max-width: 100px; /* Adjust logo size as needed */
  }
  
  nav ul {
    padding: 40px;
    list-style: none;
    display: flex;
  }
  
  nav li {
    margin: 0 10px; /* Adjust spacing between nav items */
  }
  
  nav a {

    text-decoration: none;
    color: #fffefe;
    font-size: larger;
    font-weight: 4px;
  }
  nav a:hover{
    padding: 3px;
    text-transform: uppercase;
    color: rgb(250, 248, 255);
    font-size: larger;
    backdrop-filter: blur(2px);
    box-shadow: 5px 2px 10px rgb(41, 40, 40);
    border: solid 1px;
    border-radius: 10px;
  }

  .intro {
    backdrop-filter: blur(5px);
    background-image: url('img/BG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .intro-text {
    flex: 1;

    
    
  }
  .intro-text input{
    margin-top: 50px;
    width: 100px;
    height: 50px;
    background-color: transparent;
    backdrop-filter: blur(2px);
    border-radius: 30px;
  }
  
  .intro-image {
    width: 300px;
  }
  
  .tiles {
   
    border-color: #080707;
    border-width: 2px;
    margin: 4px;

    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-wrap: wrap; /* This allows tiles to wrap to the next line on smaller screens */
  }
  
  .tile {
    box-shadow: 0 5px 2px gray;
    backdrop-filter: blur(5px);
    margin: 10px;
    border-radius: 5px;
    background-color: #e0ebff44;
    width: 300px;
    text-align: center;
    h3{
      color: rgb(255, 255, 255);
      font-size: larger;
    }
    p{
      color: #fff7f7;
    }
   
  }
  
  .scroll-list {
    overflow-y: scroll; /* Enable vertical scrolling */
    height: 500px; /* Adjust height as needed */
  }
  
  .list-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px;
    backdrop-filter: blur(10px);
    background-color: #dddcdc38;
    border-radius: 5px;
    input{
        margin-left: 20%;
        box-shadow:0px 2px 25px #777474 ;
        border-radius: 13px;
        width: 90px;
        background-color: gray;

    }
    input:hover{
        background-color: #b6b1b1;
        color: rgb(40, 40, 54);
        font-size: larger;
    }
    h4{
      color: #fff7f7;
      font-size: larger;
      padding-left: 10px;
    }
    p{
      padding-left: 10px;
      color: #ffffff;
    }
  }
  
  .list-item img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 10px;
    box-shadow: 0 5px 10px gray;
  }
  
  
  footer {
    height: 200px;
    text-align: center;
    padding: 30px;
    background-color: #00000050;
  }
  footer p{
    color: white;

  }
  .contact {
    margin-bottom: 20px;
  }
  .space{
  
  }